extends layout

block content

    form#formSearch(class="search" name="search",method="get",action="/search")
        input#inputSearch(class="textarea", type="text", placeholder="Search", name="q")   

    include ./emjs.jade