extends layout

block content
	div(ng-controller='EmojiController')		
		form#formSearch(class="search" name="search",method="get", action="/")
			input#inputSearch(class="textarea" autocomplete="off" type="text" placeholder="🔍 emojis, recipes and definitions" name="q" ng-model="query" ng-keyup="searchEmojis(query)")
				
		div(class='suggestions')
			a(class='pure-u-1 pure-u-md-1-8' ng-repeat="suggestion in searchSuggestions" ng-click='searchEmojis(suggestion)' href="#" )='#{{suggestion}}'

		div(class='emoji-wrapper l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4 green' ng-repeat="emoji in emojis")
			div.emoji-blanket
				span(class='emoji' ng-click="addToPot(emoji, $event)" data-clipboard-name='{{emoji.name}}' data-clipboard-value='{{emoji.unicode}}')='{{emoji.unicode}}'
			h3(class='left')='{{emoji.name}}'			
