doctype html
html
  head
    meta(name='keywords' content='emoji,emojis,soup,emojisoup, emoji meaning, emoji defintions, emoji dictionary, dictionary, user generated, make emoji, create emoji')
    meta(property='og:title' content='EmojiSoup')
    meta(property='title' content='EmojiSoup')        
    meta(property='og:description' content='The world\'s consortium of emoji definitions, as defined by you! Search and discover emoji meanings, and even add your own.')
    meta(property='description' content='The world\'s consortium of emoji definitions, as defined by you! Search and discover emoji meanings, and even add your own.')        
    title= EmojiSoup
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.modal.css')
    link(rel='stylesheet', href='http://yui.yahooapis.com/combo?pure/0.5.0/base-min.css&pure/0.5.0/grids-min.css&pure/0.5.0/grids-responsive-min.css')
    script(type='text/javascript' src='/javascripts/jquery-2.1.1.js')  
    script(type='text/javascript' src='/javascripts/bootstrap.3.2.0.min.js')    

  body
    div.header
        //- h1(class='pure-u-1 pure-u-md-1-2 pure-u-lg-1-4')
        h1.a(href="./") EM😃JISOUP            
        p="The world\'s consortium of emoji definitions, as defined by you 👍"

        //- h3(class='pure-u-lg-1-8') 
        //-     a(href="./recipe") Create

    div.content-wrapper
        div(class='content is-center')
            block content

    include ./edit_emoji.jade


    script(type='text/javascript' src='/javascripts/scriptz.js')      
    script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-54259648-1', 'auto');
        ga('send', 'pageview');
