doctype html
html(ng-app='enodjiApp')
  head
    meta(name='keywords' content='emoji,emojis,soup,emojisoup, emoji meaning, emoji defintions, emoji dictionary, dictionary, user generated, make emoji, create emoji')
    meta(property='og:title' content='EmojiSoup')
    meta(property='title' content='EmojiSoup')        
    meta(property='og:description' content='The world\'s consortium of emoji definitions, as defined by you! Search and discover emoji meanings, and even add your own.')
    meta(property='description' content='The world\'s consortium of emoji definitions, as defined by you! Search and discover emoji meanings, and even add your own.')        
    title= EmojiSoup
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/pure-grids-responsive-min.css')  
    link(rel='stylesheet', href='/stylesheets/chrome.css' ng-if="isChrome")
    script(type='text/javascript' src='/javascripts/jquery-2.1.1.js')      
    script(type='text/javascript' src='/javascripts//angular/angular.min.js')
    script(type='text/javascript' src='/javascripts//angular-route/angular-route.min.js')
    script(type='text/javascript' src='/javascripts/js/angular_app.js')
    script(type='text/javascript' src='/javascripts/zero/ZeroClipboard.js')
    link(rel='image/png', type='image/png', href='/favicon.png')

  body  
    div#the-pot(class='content is-center' ng-controller='PotController')            
        div(class='clipboard' ng-repeat='emoji in emojis track by $index')
            span(class='emoji' ng-click="removeFromPot(emoji)" data-clipboard-name='{{emoji.name}}' data-clipboard-value='{{emoji.unicode}}')='{{emoji.unicode}}'

        div(ng-class="emojis.length > 0 ? 'twohotdogs' : 'hidden'")
            a#clear-recipe(class='darkOrange' name='clear' ng-click='clearPot()' href='#')='CLEAR'
            a#copy-recipe(class='green' name='copy' ng-click='copyRecipe($event)' data-clipboard-name='copy-recipe' href='#' data-clipboard-value)='COPY'

    //- a(class='pure-u-1 pure-u-md-1-8' ng-repeat="suggestion in searchSuggestions" ng-click='searchEmojis(suggestion)' href="#" )='#{{suggestion}}'
            //- form(name="recipe_add")
                //-     input(class='textarea' type='text', placeholder='Name', name='name')
                //-     input(class='textarea' type='text' placeholder='Translation' name='definition')
                //-     input(class='textarea' type='text', placeholder='Tags', name='tags')        
                //-     input#hidden-recipe(type="hidden" name='recipe')            
                //- input#copy-recipe(type="button" name='clear' data-clipboard-name='copy-recipe' value="CLEAR" data-clipboard-value)                
                //- input#copy-recipe(type="button" name='copy' ng-click='clearPot()' data-clipboard-name='copy-recipe' value="COPY" data-clipboard-value)

                //- input#create-recipe(type="submit" value="Create Recipe" formmethod="post")        

    div.content-wrapper
        div(class='content is-center')
            block content

    script(type='text/javascript' src='/javascripts/scriptz.js')      
         
    if settings.environment.sendAnalytics == true
        script.
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-54259648-1', 'auto');
            ga('send', 'pageview');
