extends layout

block content
	h1= "Add new recipe"
	div.emojis
	form(name="recipe_add", method="post", action="/recipe")
		input(class='textarea' type='text', placeholder='Title', name='title')
		input(class='textarea' type='text' placeholder='Definition' name='definition')
		input(class='textarea' type='text', placeholder='Tags', name='tags')
		input.hidden(type="text", placeholder="Recipe" name="recipe")
		//- input.pot(type="text", placeholder="Emojis" name="emojilist")
		input#btnSubmit(type="submit")="Save"
					