/* Chrome doesn't support emojis, so include open emoji font: */
@font-face {
    font-family: openSansEmoji;
    src: url(../fonts/OpenSansEmoji.ttf);
}

.textarea {
	font-family: openSansEmoji;
}

.emoji {
  	font: 1em;
}