/* Chrome doesn't support emojis, so include open emoji font: */
/*@font-face {
    font-family: openSansEmoji;
    src: url(../fonts/OpenSansEmoji.ttf);
}

@font-face {
    font-family: symbola;
    src: url(../fonts/Symbola/Symbola.ttf);
}

.textarea {
	font-family: openSansEmoji;
}
*/
.emoji {
  	font: 1em;
	/*font-family: openSansEmoji;  	*/
}