
@font-face {
    font-family: openSansEmoji;
    src: url(../fonts/OpenSansEmoji.ttf);
}

body {
  font: 1em Lato, Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    padding: 0px;
    margin: 0px;
}

button {
  border-style: none;
  color: white;
  height: 3em;
  font-weight: bold;  
}


#the-pot button {
  /*display: block;*/
  display: none;
  margin: .5em;
}

#the-pot input {
  border-style: none;
  color: white;
  height: 3em;
  font-weight: bold;  
}


#copy-recipe {
  background-color: rgb(0, 179, 89);
}

#create-recipe {
  background-color: rgb(255, 102, 0);
}

a:link, a:visited, a:active {
  color: white;
  text-decoration: none;
}

.header {
  background-color: rgb(43, 175, 255);
  color: rgb(251, 251, 251);
  padding-left: .8em;}
  .header h1 {
    letter-spacing: .1em;
    font-size: 3em;
    font-weight: bold;	
    margin: 0em;
    margin-left: -2px;
  }
  .header a:hover {
    color: rgb(251, 251, 251);
    text-decoration: none;
  }
  .header p {
    letter-spacing: 1px;
    padding-left: 0em;
    margin-top: 0em;
    padding-bottom: .4em;
  }

a:hover {
  text-decoration: underline;
}

.is-center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  float: right;
}

.hidden {
  visibility: hidden;
}

.pure-g {
  box-sizing: border-box;
  margin: 15px;
}

.l-box {
  margin: 1em;
}

.emoji-wrapper {
  background-color: rgb(120, 204, 255);
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;    
  padding-top: 25px;
  max-width: 250px;
  max-height: 250px; }

  .emoji-wrapper h3 {
    font-weight: bold;
    font-size: 1.2em;
    padding-left: 15px;    
    margin-bottom: 0px;
    letter-spacing: .1em;
    color: rgb(255, 255, 255);}
  
  .emoji-wrapper p {
    font-size: 1em;
    padding-left: 15px;
    font-style: italic;
    margin-top: 0px;
    font-weight: light;
    color: #2c3e50;}  

.emoji-wrapper-cover {
  background-color: rgb(237, 28, 36);
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px; 
  width: 250px;
  height: 250px;   
  display: block;
  position: absolute;}

  .emoji-wrapper-cover h2 {
    color: white;
    padding: 0px;
    font-style: normal;
    font-size: 2.5em;    
    font-weight: bolder;
    text-align: center; }

  .emoji-wrapper-cover p {
    color: white;
    padding: 0px;
    margin-top: -20px;
    font-size: 1.2em;
    font-style: normal;
    font-weight: light;
    text-align: center;
    letter-spacing: -.5px;
  }


.emoji {
  font: 1em openSansEmoji;
}

.emoji-blanket {
  font-size: 5em;
  cursor: pointer;
}

.tag {
  padding-right: 4px;
  display: inline-block;
}

.tag a:hover {
  color: white;
  text-decoration: underline;
}

.tag_edit {
  background-color: white;
  border: 1px solid black;
  padding: .5em;
  margin: 1em;
  font-size: 1em; }

  .tag_edit:hover span {display:none}
  .tag_edit:hover:before {
    content:"DELETE"; 
    color:white;}

.emoji-tags {
  margin: 1em;
}

.textarea {
  width: 85%;
  font-size: 4em;
}

input {    
  border: 3px solid rgb(0, 179, 89);
  font-style: italic;
}

form {
  margin: 2em;
}

.search {  
  font-family: "Lato";
  color: rgb(120, 204, 255);
  font-style: italic; 
  margin-top: .5em;
  margin-bottom: .5em;}

  .suggestions {
    margin-bottom: 1.5em;
  }

  .suggestions a {
    color: rgb(120, 204, 255);
    font-size: 2em;
  }

  .suggestions.l-box {
    margin: 0em;
  }

  .suggestions.pure-g {
    margin: 0px;
  }  

.emoji_edit {
  padding: 10px;  
}

::-webkit-input-placeholder {
  color: rgb(120, 204, 255);
  padding-left: .15em;
  font-family: "Lato"
  font-style: italic;
  font-weight: lighter;
}

.orange {
  background-color: rgb(255, 192, 0);
}

.green {
  background-color: rgb(0, 179, 89);
}

.purple {
  background-color: rgb(119, 89, 255);
}
