body {
  font: 1em Lato, Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    padding: 0px;
    margin: 0px;
}

.loading {
  font-size: 3em;  
  text-align: center;
}

.header {
  background-color: rgb(0, 179, 88);
  color: rgb(251, 251, 251);
  margin: 0px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.20);  
  position: relative;  
}

input[type="text"]  {  
  background: rgb(77, 198, 137);     

  +box-sizing(border-box);
  +background-clip(padding-box);
  +border-radius(0);
  -webkit-appearance: none;
  box-shadow: inset 0.5px 0.866px 1px 0px rgba(0, 0, 0, 0.09);  

  border: 0;
  outline: 0;
  padding: 0;
  padding: .1em .1em .1em .1em;  
}

.textarea {
  text-align: left;
  letter-spacing: .05em;
  width: 85%;
  font-size: 3em;  
  color: #fff;
  padding: .1em;
}

::-webkit-input-placeholder {
  color: #fff;
}

::-moz-placeholder {
  color: #fff;
}

.search {  
  padding-top: 1em;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 1em;
}

.sub-header {
  background-color: rgb(255, 193, 23);   
  padding: 1em;  
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);      
}

.sub-header p {
  font-size: 1.2em;
  text-align: left;
  color: white;  
}

.sub-header a {
  font-size: 1.3em;
  letter-spacing: .02em;
  text-transform: uppercase;
  padding: 0em .2em 0em .2em;
}

.sub-sub {
   background-color: rgb(255, 215, 106); 
   width: 85%;
   margin: auto;
   font-color: white;
}

.animate-show {  
  opacity:1;
  height: 8em;
}

.animate-show.ng-hide {
  height: 0px;
}

.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition:all ease 0.2s;
  transition:all ease 0.2s;
}

a:link, a:visited, a:active {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.pure-g {
  box-sizing: border-box;
  margin: 15px;
}

.l-box {
  margin: 1em;
}

.emoji-wrapper {
  background-color: #848dff;
  max-width: 200px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
}

.emoji-wrapper h3 {
  font-weight: normal;
  padding-left: 15px;    
  color: rgb(255, 255, 255);
  margin-bottom: .5em;
}
  
.emoji-wrapper p {
  font-size: .9em;
  font-weight: light;
  color: rgba(255, 255, 255, 0.8);
}  

.emoji-wrapper a {
  color: rgba(255, 255, 255, 0.8);
} 

.emoji-wrapper-cover {
  background-color: rgb(237, 28, 36);
  max-width: 200px;  
  display: block;
  position: absolute;
}

.emoji-wrapper-cover h2 {
  color: white;
  padding: 0px;
  font-style: normal;
  font-size: 1.5em;    
  font-weight: bolder;
  text-align: center; 
}

.emoji-wrapper-cover p {
  color: white;
  padding: 0px;
  margin-top: -20px;
  font-size: 1.2em;
  font-style: normal;
  font-weight: light;
  text-align: center;
  letter-spacing: -.5px;
}

.emoji {
  font: 1em;
}

.emoji-blanket {
  font-size: 5em;
  cursor: pointer;
}

.tag {
  padding-right: 4px;
  display: inline-block;
}

.tag a:hover {
  color: white;
  text-decoration: underline;
}

.tag_edit {
  background-color: white;
  border: 1px solid black;
  padding: .5em;
  margin: 1em;
  font-size: 1em; }

  .tag_edit:hover span {display:none}
  .tag_edit:hover:before {
    content:"DELETE"; 
    color:white;}

.emoji-tags {
  margin: 1em;
}

.clipboard {  
  display: inline;  
  font-size: 4em; 
}

.suggestions {
  padding-bottom: 1em;
  text-align: center;
}

.suggestions a {
  color: rgba(255, 255, 255, 0.80);
  font-size: 1.8em;
}

.suggestions.l-box {
  margin: 0em;
}

.suggestions.pure-g {
  margin: 0px;
}  

.emoji_edit {
  padding: 10px;  
}

.orange {
  background-color: rgb(255, 192, 0);
}

.darkOrange {
  background-color: rgb(255, 102, 0);
}

.green {
  background-color: rgb(0, 179, 89);
}

.purple {
  background-color: rgb(119, 89, 255);
}

.is-center {
  text-align: center;
}

.auto-center {
  text-align: center;
  margin: auto;
  width: 85%;
}

.left {
  text-align: left;
}

.right {
  float: right;
}

.hidden {
  visibility: hidden;
}
